{:paths ["src"]
 :deps  {org.clojure/clojure {:mvn/version "1.11.1"} 
         selmer/selmer {:mvn/version "1.12.58"}
         pantomime/pantomime {:mvn/version "0.1.0-SNAPSHOT"}
         com.clojure-goes-fast/clj-java-decompiler {:mvn/version "0.3.4"}}
 :aliases {:dev {:extra-paths ["dev"]}
           :test                                            ;; added by neil
           {:extra-paths ["test"]
            :extra-deps  {io.github.cognitect-labs/test-runner
                          {:git/tag "v0.5.0" :git/sha "b3fd0d2"}}
            :main-opts   ["-m" "cognitect.test-runner"]
            :exec-fn     cognitect.test-runner.api/test}}}
